<!DOCTYPE html>
<html lang="en">
  <%- include('./parts/header')%>
  <body>
    <main>
      <form method="post" action="/notes/form">
        <input type="text" name="title" />
        <input type="text" name="text" />
        <input type="submit" value="submit" />
      </form>


    </main>
  </body>
</html>
